*{
    margin: 0;
    padding: 0;
}
body{
    height: 500vh;
}
.debut{
    background-color: rgb(234, 109, 36);
    padding: 20px;
}
.firsts {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: gainsboro;
    text-align: center;
    margin-left: 140px;
}
/* css navbar */
.navitem{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}
.navitem > ul{
    display: flex;
    list-style: none;
}
.navitem li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 20px
}
/* sousnav */
.sousnav{
    position: relative;
}
.sousnav > ul{
    display: flex;
    list-style: none;
}
.sousnav li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
}
/* fin sousnav */
/* sousitems */
.items{
    position: relative;
}
.sousitems{
    list-style: none;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: max-content;
}
.sousitems li a:hover{
    background-color: #F2F2F2;
}
.items:hover .sousitems{
    display: block;
}
/* fin sousitems */
/* background */
.diaporama{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-image: url(images/pranareduction4.jfif);

    /* animation */
    -webkit-animation-name: diapo;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    animation-name: diapo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@-webkit-keyframes diapo{
    0%{
        background-image: url(images/pranareduction4.jfif);
    }
    50%{
        background-image: url(images/pranareduction2.jfif);
    }
    75%{
        background-image: url(images/pranareduction1.jfif);
    }
}
@keyframes diapo{
    0%{
        background-image: url(images/pranareduction4.jfif);
    }
    50%{
        background-image: url(images/pranareduction2.jfif);
    }
    75%{
        background-image: url(images/pranareduction1.jfif);
    }
}
/* fin background */
/* mixes */
.mixes{
    margin-top: 50px;
}
.mixeimages{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.mixes .titre{
    margin-top: 20px;
    text-align: center;
    color: rgb(190, 6, 6);
    margin-left: 30%;
    font: 35px 'Times New Roman', Times, serif;
    font-weight: bold;
}
.mixes img{
    width: 80%;
    height: 40vh;
    cursor: pointer;
    position: relative;
    transition: transform .1s;
}
.mixes img:hover{
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}
/* soldout */
.soldout{
    position: absolute;
    top: 28%;
    right: 22%;
    width: 90px;
    background-color: #fff;
    height: 25px;
    text-align: center;
}
.sdout{
    font-weight: bold;
    font-size: 16px;
}

/* fin soldout */
/* onsale */
.onsale{
    position: absolute;
    top: 102%;
    left: 30%;
    width: 60px;
    background-color: #fff;
    height: 25px;
    text-align: center;
}
.oout{
    font-weight: bold;
    font-size: 16px;
}
.onsales{
    position: absolute;
    top: 102%;
    left: 53%;
    width: 60px;
    background-color: #fff;
    height: 25px;
    text-align: center;
}
.oouts{
    font-weight: bold;
    font-size: 16px;
}
.onsalee{
    position: absolute;
    top: 102%;
    left: 77%;
    width: 60px;
    background-color: #fff;
    height: 25px;
    text-align: center;
}
.ooute{
    font-weight: bold;
    font-size: 16px;
}
/* onsale */
.imagescustomer .btn1{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 50px;
}
.imagescustomer .btn1 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase;
}
.imagescustomer .btn2{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 70px;
}
.imagescustomer .btn2 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase;   
}
.imagescustomer .valeur{
    color: rgb(240, 9, 9);
    margin-left: 95px;
}
.imagescustomer .reduction{
    color: rgb(113, 106, 106);
    margin-left: 20px;
    text-decoration: line-through;
}
.imagescustomer .btn3{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 5px;
}
.imagescustomer .btn3 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
}
.imagescustomer .btn4{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 20px;
}
.imagescustomer .btn4 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase; 
}
.imagescustomer .btn5{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 90px;
}
.imagescustomer .btn5 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase; 
}
.imagescustomer .btn6{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 10px;
}
.imagescustomer .btn6 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase; 
}
.imagescustomer .btn7{
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin-left: 100px;
    
}
.imagescustomer .btn7 a{
    color: rgb(113, 106, 106);
    text-decoration: none;
    text-transform: uppercase; 
}
.viewproducts .product{
    border: none;
    font-size: 18px;
    background-color: gray;
    margin-left: 40%;
    padding: 20px;
    border-radius: 20px;
}
.product a{
    color: #fff;
    text-decoration: none;
}
.soldout{
    position: relative;
    top: 20px;
}
/* fin mixes */
/* section products */
.prdcts{
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 15px;
    margin: 30px
}
.prdcts img{
    width: 100%;
    height: 60vh;
    position: relative;  
}
/* imgs1 */
.imgs1 .cook{
    position: absolute;
    left: 5%;
    top: 198%;
    text-decoration: none;
    font-weight: bold;
    font: 38px 'Times New Roman', Times, serif;
    color: #fff;
}
.imgs1 .btnproduct{
    position: absolute;
    top: 205%;
    left: 5%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.btnproduct a{
    font: 20px 'Times New Roman', Times, serif;
    text-decoration: none;
}
.imgs1{
    overflow: hidden;
    cursor: pointer;
}
.imgs1 img{
    transition: .5s;
}
.imgs1 img:hover{
    -ms-transform: scale(1.5) translate(2px);
    -webkit-transform: scale(1.5) translate(2px);
    transform: scale(1.5) translate(2px);
}
/* fin imgs1 */
/* images 2 */
.imgs2 .breakfast{
    position: absolute;
    left: 32%;
    top: 198%;
    text-decoration: none;
    font-weight: bold;
    font: 38px 'Times New Roman', Times, serif;
    color: #fff;
}
.imgs2 .btnproduct1{
    position: absolute;
    top: 205%;
    left: 32%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.btnproduct1 a{
    font: 20px 'Times New Roman', Times, serif;
    text-decoration: none;
}
.imgs2{
    overflow: hidden;
    cursor: pointer;
}
.imgs2 img{
    transition: .5s;
}
.imgs2 img:hover{
    -ms-transform: scale(1.5) translate(2px);
    -webkit-transform: scale(1.5) translate(2px);
    transform: scale(1.5) translate(2px);
}
/* fin images 2 */
/* images 3 */
.imgs3 .snaking{
    position: absolute;
    left: 67%;
    top: 198%;
    text-decoration: none;
    font-weight: bold;
    font: 38px 'Times New Roman', Times, serif;
    color: #fff;
}
.imgs3 .btnproduct2{
    position: absolute;
    top: 205%;
    left: 67%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.btnproduct2 a{
    font: 20px 'Times New Roman', Times, serif;
    text-decoration: none;
}
.imgs3{
    overflow: hidden;
    cursor: pointer;
}
.imgs3 img{
    transition: .5s;
}
.imgs3 img:hover{
    -ms-transform: scale(1.5) translate(2px);
    -webkit-transform: scale(1.5) translate(2px);
    transform: scale(1.5) translate(2px);
}
/* fin images 3 */
/* prana route */
.routeprana .routes{
    width: 100%;
    height: 70vh;
    position: relative;
}
.texteroute{
    background-color: #fff;
    position: absolute;
    top: 1750px;
    left: 500px;
    width: 30%;
    height: 40vh;
    text-align: center;
    /* margin-bottom: 200px; */
}
.texteroute .prana1{
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
}
.texteroute .prana2{
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #b2adad;
}
.findhow{
    position: absolute;
    top: 1880px;
    left: 670px;
    margin-top: 100px;
    font-size: 20px;
}
.findhow a{
    text-decoration: none;
    color: #000;
}
/* fin prana route */
/* fin section products */
/* fin css navbar */
/* customer */
.customer{
    margin-top: 100px;
}
.entete{
    margin-top: 20px;
    text-align: center;
}
.spcostumer{
    color: rgb(190, 6, 6);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.sp1costumer{
    color: rgb(70, 66, 66);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.customerimgs{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    width: calc(250px * 10);
    animation: glisse 10s infinite;
    /* animation-name: imagesdefiles;
    animation-iteration-count: infinite; */
}

@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-500px);
    }
    66%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

.imagescustomer{
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.imagescustomer img{
    width: 90%;
    height: 30vh;
}
.imagescustomer .fa{
    color: rgb(238, 150, 184);  
    text-align: center;
}
.imagescustomer .saveur{
    text-align: center;
    color: rgb(190, 6, 6);
    font: 20px 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.imagescustomer .gout{
    font: 16px 'Times New Roman', Times, serif;
    color: #585656;
}
.imagescustomer .name{
    font: 20px 'Times New Roman', Times, serif;
    color: #b2adad;
    text-align: center;
}
/* fin costomer */


/* css recipes */
.recipes{
    margin-top: 100px;  
}
.monimage .imagefonds{
    width: 100%;
    height: 70vh;  
    position: absolute;
}
.surimages{
    position: relative;
    top: 20px;
    left: auto;
    text-align: center;
}
.surimages span{
    color: rgb(190, 6, 6);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
/* image 1 */
.images1{
    position: relative;
    top: 50px;
    float: left;
    margin-left: 150px;
    background-color: #fff;
    height: 350px;
}
.images1 .imgsfonds{
    width: 100%;
    height: 250px;
}
.fondblanc{
    position: absolute;
    top: 3150px;
    float: left;
    margin-left: 170px;   
}
.fondblanc span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.fondblanc a{
    margin-top: 50px;
    color: gray;
    font-size: 20px;
}
.fondblanc1{
    position: absolute;
    float: left;
    top: 3140px;
    margin-left: 630px;
}
.fondblanc1 span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.fondblanc1 a{
    margin-top: 50px;
    color: gray;
    font-size: 20px;
}
.fondblanc2{
    position: absolute;
    float: left;
    top: 3150px;
    margin-left: 1090px;
}
.fondblanc2 span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.fondblanc2 a{
    margin-top: 50px;
    color: gray;
    font-size: 20px;
}
.btnrecipes{
    position: absolute;
    float: left;
    top: 450%;
    margin-left: 48%;
  
}
.btnrecipes button{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.btnrecipes a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.btnrecipes button:hover{
    background-color: #fff;
}
/* fin images 1 */
/* fin css recipes */

/* css teste */
.findout{
    margin-top: 600px;
   text-align: center;
   color: rgb(190, 6, 6);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 20px;
   /* top: 500px; */
}
.test{
    display: flex;
    height: 500px;
    justify-content: center;
    margin-top: 110px;
}
.test .imgtest{
   height: 250px;
   width: 400px;
   padding-left: 40px;
   gap: 10px;
}
.test .imgtest:hover{
    cursor: pointer;
}
.texte .sp1{
    margin-left: 40px;
}
.texte{
    text-decoration: none;
    margin-top: 10px;
}
.texte .sp2{
    padding: 40px; 
}
.texte .sp3{
    padding: 40px;  
}
.texte span{
    color: rgb(176, 74, 51);
    font: 20px sans-serif;
    font-weight: bold;
    list-style: none;
    line-height: 20px;
}
.images p{
    margin-left: 40px;
    margin-top: 20px;
    font: 16px sans-serif;
}
.readmore{
   text-decoration: underline;
   margin-left: 40px;
   margin-bottom: 100%;
   color: #474343;
}
/* fin css teste */
/* btnview */
.btnview{
    text-align: center;   
}
.btnview button{
    border-radius: 20px;
    padding: 20px;
    background-color: #474343;
}
.btnview a{
    text-decoration: none;
    color: #fff;
    font: 17px bold arial;
}
/* fin btnview */
/* about us section3 */
.section3{
    margin-top: 150px;
}
.section3 img{
    width: 40%;
    margin-left: 10%;
    float: left;
}
.droite{
    float: right;
    margin-top: 8%;
}
.aboutus{
    text-align: center;
    font: 20px arial;
    font-weight: bold;
    color: rgb(146, 20, 20);
    margin-top: 25%; 
}
.texte3{
    margin-top: 10%;
    color: rgb(112, 110, 110);
    margin-bottom: 10%;
    margin-right: 200px
}
.change{
    color: rgb(146, 20, 20);
    font: 20px arial;
    font-weight: bold;   
}
.sousnav{
    margin-top: 750px;
    margin-left: 40%; 
}

.sousnavbar li{
    list-style: none; 
}
.sousnavbar li a{
    color: rgb(120, 118, 118);
    font-weight: bold;
    font-size: 20px;
}
.sousnavbar li a:hover{
    color: rgb(120, 118, 118);  
}
.sousnavbar li a:active{
    color: rgb(146, 20, 20);
    outline: auto;   
}
/* fin about us section3 */
/* css section subscribe */
.subscribe{
    margin-top: 80px;
}
.imgfond img{
    width: 100%;
    height: 60vh;
    position: absolute;
}
.surimage{
   position: relative;
   top: 130px;
   left: auto;
   text-align: center;   
}
.surimage span{
    color: #0d0d0d;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.surimage p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    color: #0d0d0d;
}
.surimage input{
    margin-top: 60px;
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: none;
}
.surimage button{
    border: none;
    border-radius: 20px;
    background-color: white;
    width: 10%;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
}
.piedpage{
    margin-top: 250px;
    background-color: rgb(245, 203, 120);
    height: 520px;
}
.crave{
    position: sticky;
    top: 0;
    left: 0;
}
.crave > ul{
    display: flex;
    list-style: none;
    padding: 80px;
}
.crave li .itemcrave{
    text-decoration: none;
    color: rgb(104, 103, 103);
    display: block;
    font-size: 20px;
    font-weight: bold;
    cursor: none;
}
.oursite{
    margin-left: 200px;
}
.newslet{
    margin-left: 10px;
}
.craves p{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;  
}
.craves img{
    float: left;
    width: 40%;
    margin-right: 20%;
}
.craves .sociallinks{
    margin-top: 150px;  
}
.sociallinks .followus a{
    color: rgb(104, 103, 103);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    cursor: none;
}
.sociallinks ul{
    list-style: none;
    width: 100%;
}
.sociallinks ul li{
    display: inline-block;
    margin: 5px 10px;
   
}
.sociallinks ul li a{
    color: rgb(60, 59, 59);
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* fin crave */
/* debut our site */
.oursite{
    width: 100%;
}
.oursite ul{
    list-style: none;
    width: 100%;
    margin-top: 20px;
}
.outsite li{
    margin-top: 20px;
}
.ousite ul li{
    display: flex;
}
.oursite ul li a{
    color: rgb(112, 29, 29);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.newslet{
    width: 90%;
}
.newslet p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.newslet input{
    border: 1px solid black;
    border-radius: 5px;
    width: 45%;
    padding: 15px;
    margin-top: 20px;
}

.newslet button{
    margin-top: 20px;
    border-radius: 20px;
    padding: 15px;
    width: 30%;
    border: none;
    background-color: rgb(81, 77, 77);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.p1{
    float: left;
    margin-right: 20px;
}

/* fin our site */

